@import "../../../variables";

.Kid {
    height: 100vh;
    width: 100vw;
}
.kid-header-container {
    width: 100vw;
    height: min-content;

    .kid-header {

        h2 {
            font-size: 2rem;
            margin: 20px;
        }
    
        img {
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        h4 {
            color: $secondary-color;
            font-weight: 700;
            margin: 0 20px;
            font-size: 1.1rem;
            width: min-content;
            cursor: pointer;
        }
    }
}

section {
    padding: 70px 0;
    width: 100vw;
    height: min-content;
    .clothing-container {
        width: 90vw;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .clothing {
            width: 40vw;
            max-width: 350px;
            height: min-content;
            margin: 10px 0;
            box-shadow: 0px 0px 10px 0 #dfdfdf;

            .clothing-img-container {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                }
            }
            .clothing-text-container {
                margin: 8px;
                
                h5 {
                    font-size: 1rem;
                    font-weight: 500;
                    color: $secondary-color;
                    margin-bottom: 5px;
                }
                p {
                    font-size: 1rem;
                    font-weight: 700;
                    color: $primary-color;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .kid-header-container {
    
        h2 {
            font-size: 3rem;
            margin: 30px;
        }
    
        div {
            justify-content: start;
            h4 {
                font-weight: 700;
                font-size: 1.4rem;
                margin-left: 30px;
            }
        }
    }   
}

@media (min-width: 1200px) {
    .kid-header-container {
        
        .kid-header {

            h2 {
                font-size: 4.2rem;
                margin-bottom: 40px;
            }
            img {
                width: 50px;
                height: 50px;
                margin-right: 50px;
                margin-left: 20px;
            }
        }
        div {
            h4 {
                font-size: 1.8rem;
                margin-left: 40px;
            }
        }
    }
}